#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :ns-patterns [".*-test$"]
          :skip-meta [:integration]}
         {:id :integration
          :test-paths ["test"]
          :ns-patterns [".*integration.*"]}]
 :plugins [:kaocha.plugin/profiling]
 :color? true
 :randomize? false}
